
/* --------- Specific sections --------- */

/* Trabalhos */

.trabalhos{
    display: flex;
    flex-direction: column;
}

.trabalhos a{
    text-decoration: none
}

.container-trabalhos{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
}

.container-trabalhos a{
    display: block;
    margin-left: 1%;
    margin-top: 1%;
}

/* Sobre mim */

.sobre-mim{
    text-align: justify;
}

.conteudo-sobre-mim{
    display: flex;
    flex-flow: row;
    align-items: stretch;
}

sobre-mim ul{
    display: flex;
    flex-flow: row nowrap;
    
}

.foto-eu{
    margin: .5em;
    width: 200px;
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    flex-basis: 200px;
    border-radius: 5%;
}

/* Fale Comigo */

.fale-comigo{

}

/* --- Portifolio Projects Custon Links ---- */

/* Links Structure */

.projeto{
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    border-radius: 1%;
    width: 11em;
    height: 8em;
    padding: 1em;
    padding-top: 0.5em;
    transition: 0.2s;
    box-shadow: 0px 1px 1px 1px #e6e6e6;
}

.projeto-header{
    display: flex;
}

.android{
    background-color: #18aa23;
    color: #FFF;
    border-bottom: 10px solid #208617;
}

.web{
    background-color: #41c3e2;
    color: #FFF;
    border-bottom: 10px solid #347aa7;
}

.in-dev{
    background-color: #7b7b7b;
    color: #FFF;
    border-bottom: 10px solid #656565;
}

/* Portifolio Projects States and Animations */

.projeto:hover,
.projeto:focus{
    transform: translateY(-5px);
    box-shadow: 2px 4px 1px 1px #dddddd;
}

.projeto:active{
    transform: translateY(5px);
    box-shadow: 0px 1px 1px 1px #e6e6e6;
}

/* Links icons */ 

.icone-web {
    width: 2em;
    height: 2em;
    padding-top: 0.5em;
}

.icone-android {
    width: 2em;
    height: 2em;
    padding-top: 0.5em;
}


/* Links text elements */ 

.projeto h2{
    font-size: 2em;
    text-shadow: none;
}

.projeto p{
    padding-top: 1em;
}

.android p{
    border-top: 1px solid #208617;
}

.web p{
    border-top: 1px solid #347aa7;
}

.in-dev p{
    border-top: 1px solid #656565;
}




