/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-wraper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    margin-top: 20px;
}

/*.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
}

.inverse-dropdown>li>a{
    color: #999;
}

.inverse-dropdown>li>a:hover{
    color: #fff;
    background-color: #000;
}

.inverse-dropdown>.divider{
  background-color: #000;
}*/

/* --------------------------------------
   Carousel
   -------------------------------------- */
#mainCarousel {
    position: relative;
    height: 500px;
    margin-bottom: 60px;
}

#mainCarousel .item {
    height: 500px;
    background-color: #777;
}

#slide-portifolio {
    background: url('../../imagens/banner-portifolio-medium.jpeg') top center no-repeat;
}

#mainCarousel .carousel-link {
    height: 500;
    width: 100%;
}

#slide-pinut {
    background: url('../../imagens/banner-pinut-medium.jpeg') top center no-repeat;
}

#slide-drafter {
    background: url('../../imagens/banner-drafter-medium.jpeg') top center no-repeat;
}
#slide-uhul {
    background: url('../../imagens/banner-uhul-medium.jpeg') top center no-repeat;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */

.callout .col-sm-6 {
    margin-bottom: 20px;
    text-align: center;
}

footer {
    background: url('../../imagens/footer-bg.jpeg')top left repeat;
    color: #FFF;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    color: #AAA;
    
}

footer a:hover,
footer a:active{
    color: #FFF;
}


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#slide-portifolio {
        background: url('../../imagens/banner-portifolio-small.jpeg') top center no-repeat;
    }
    #slide-pinut {
        background: url('../../imagens/banner-pinut-small.jpeg') top center no-repeat;
    }
    #slide-drafter {
        background: url('../../imagens/banner-drafter-small.jpeg') top center no-repeat;
    }
    #slide-uhul {
        background: url('../../imagens/banner-uhul-small.jpeg') top center no-repeat;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
	#slide-portifolio {
        background: url('../../imagens/banner-portifolio-large.jpeg') top center no-repeat;
    }
    #slide-pinut {
        background: url('../../imagens/banner-pinut-large.jpeg') top center no-repeat;
    }
    #slide-drafter {
        background: url('../../imagens/banner-drafter-large.jpeg') top center no-repeat;
    }
    #slide-uhul {
        background: url('../../imagens/banner-uhul-large.jpeg') top center no-repeat;
    }
}