/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
   
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-wraper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    margin-top: 20px;
}

/* --------------------------------------
   Carousel
   -------------------------------------- */
#mainCarousel {
    position: relative;
    height: 500px;
    margin-bottom: 60px;
}

#mainCarousel .item {
    height: 500px;
    background-color: #777;
}

#slide-portifolio {
    background: url('../../imagens/banner-portifolio-medium.jpeg') top center no-repeat;
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	#slide-portifolio {
        background: url('../../imagens/banner-portifolio-small.jpeg') top center no-repeat;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
	#slide-portifolio {
        background: url('../../imagens/banner-portifolio-large.jpeg') top center no-repeat;
    }
}